body {
    background-color: #1A1A1A; /*Matte Black*/
    color: #EDEDED; /*Soft White*/
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Neonderthaw', sans-serif;
    color: #BB86FC; /*Violet*/
    text-shadow: 0 0 10px #BB86FC; /*Neon Glow*/
    text-align: center;
    padding: 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #FFB300; /*Amber*/
    text-align: center;
}

nav a {
    color: #03DAC6; /*Teal*/
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover{
    color: #FFB300; /*Amber on hover*/
}

p {
    font-size: 16px;
    line-height: 1.5;
    padding: 0 20px;
}